<div>
  <p>Story Controller :: video is Playing {{ videoIsPlaying }}</p>
  <p>Story Controller :: video is Muted {{ videoIsMuted }}</p>
  <video-player
    is-playing="videoIsPlaying"
    is-muted="videoIsMuted"
    timecode-value="videoTimecodeValue"
    timecode-text="videoTimecodeText"><!--
    video-started="videoStarted(videoElement)"
    video-paused="videoEnded()"
    show-hero-video="showHeroVideo()"
    hide-hero-video="hideHeroVideo()"
    on-time-update="videoUpdate(currentTime,duration)"
    title="{{ video.title }}"
    description="{{ video.description }}"
    route="{{ video.route }}"
    vidsource="{{ video.videoSrc }}"
    imgsource="{{ video.imageSrc }}"
    cuepoints="{{ video.cuepoints }} -->
  </video-player>

  <!--
  <div class="row">
    <div class="span12">
      <video-story content="{{ video }}"></video-story>
    </div>
  </div>
  <footer>
    <div class="navbar navbar-fixed-bottom" ng-hide="floatPlayerVisible == false" ng-show="floatPlayerVisible == true">
      <div class="navbar-inner">
        <div class="float-player-container">
          <float-player></float-player>
        </div>
        <div class="cuepoint-info`">
          <h2>{{ currentCuePoint.title }}</h2>
          <p>{{ currentCuePoint.description }}</p>
          <p>{{ currentCuePoint.timecode }}</p>
        </div>
      </div>
    </div>
  </footer>
  -->
</div>
