<div class="video-control-bar">
  <div class="video-controls-left">
    <video-control-play-pause-button button-is-playing="videoControlsIsPlaying"></video-control-play-pause-button>
  </div>
  <div class="video-controls-right">
    <video-control-timecode-display video-control-timecode-display-value="videoControlsTimecode"></video-control-timecode-display>
    <video-control-audio button-is-muted="videoControlsIsMuted"></video-control-audio>
    <video-control-fullscreen on-fullscreen-button-click="videoControlsEnterFullscreen()"></video-control-fullscreen>
  </div>
</div>