<div id="hero-video" class="container">
  <div class="row">
    <div class="span12 video-element-container">
      <video-playback
        video-playback-is-playing="isPlaying"
        video-playback-is-paused="isPaused"
        video-playback-is-ended="isEnded"
        video-playback-is-muted="isMuted"
        video-playback-timecode="timecodeValue"
        video-playback-is-fullscreen="isFullscreen">
      </video-playback>
      <video-controls
        video-controls-is-playing="isPlaying"
        video-controls-is-paused="isPaused"
        video-controls-is-ended="isEnded"
        video-controls-is-muted="isMuted"
        video-controls-timecode="timecodeText"
        video-controls-is-fullscreen="isFullscreen">
      </video-controls>
    </div>
  </div>
</div>
